.teksts{
display: flex;
padding: 15px 32px 10px;
margin: 8px 12px;
background-color: #;
font-family: 'Courier New', monospace;
font-size: 28px;
}
.arejaKaste {
width: 25%;
border-style: double;
border-radius:5px;
border-colour: #030B6B;
border-width: medium;
border-right-style: solid;
border-left-style: solid;
background-color: #287BC6;
padding: 10px 10px 10px 10px;
margin: 50px 20px 50px 20px;
}
.butt{
  margin-left: 150px;
  border-width: medium;
  border-radius: 10px:;
  padding: 10px 10px 10px 10px;
}
.textkaste{
border-style: solid;
width: 185px;
border-radius: 50px 50px 50px 50px;
padding: 10px 10px 10px 10px;
margin: 8px 8px 8px 8px;
text-align: center;
font-family: 'Courier New', monospace;
}
.bilde{
width:500px;
height:192px;
}
