.teksts{
display: flex;
padding: 15px 32px 10px;
margin: 8px 12px;
background-color: #;
font-family: 'Courier New', monospace;
font-size: 28px;
}
.arejaKaste {
width: 35%;
height: 125%;
border-style: double;
border-radius:5px;
border-colour: #030B6B;
border-width: medium;
border-right-style: solid;
border-left-style: solid;
background-color: #287BC6;
padding: 10px 10px 10px 10px;
margin: 50px 20px 50px 20px;
}
.butt{
  padding: 10px 10px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #04AA6D;
  border: solid;

  box-shadow: 0 9px #999;
}

.butt:hover {background-color: #3e8e41}

.butt:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.textkaste{
border-style: solid;
width: 195px;
border-radius: 50px 50px 50px 50px;
padding: 10px 10px 10px 10px;
margin: 20px 20px 20px 20px;
text-align: center;
font-family: 'Courier New', monospace;
}
.izvele{
border-style: solid;
width: 185px;
border-radius: 50px 50px 50px 50px;
padding: 10px 10px 10px 10px;
margin: 20px 20px 20px 20px;
text-align: center;
font-family: 'Courier New', monospace;
}
  
.bilde{
width:500px;
height:192px;
}
.keksis{
  width: 20px;
  height: 20px;
}
.linija{
  margin-top: 55px;
}
